html {
    box-sizing: border-box;
    font-size: 100%;
}

h1 {
    color: rgb(0, 85, 255);
    font-size: 250%;
}

h2 {
    font-size: 200%;
    text-align: center;
}

h3 {
    text-align: center;
    color: red;
}

p {
    text-align: justify;
    font-size: 50px;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.header {
    padding: 80px;
    text-align: center;
    background: #02dff7;
    color: white;
}

.column {
    float: left;
    width: 33.33%;
}